// NuGet packages

group NetFramework
source https://www.nuget.org/api/v2
	nuget FAKE
	nuget Nito.AsyncEx ~> 3.0.1
	nuget xunit ~> 2.2.0
	nuget xunit.runner.console ~> 2.2.0
	nuget xunit.runner.visualstudio ~> 2.2.0
		
group NetStandard
source https://www.nuget.org/api/v2
source https://dotnet.myget.org/F/dotnet-core/api/v3/index.json
	nuget FAKE
	nuget Microsoft.CSharp ~> 4.3.0
	nuget System.Diagnostics.Process ~> 4.3.0
	nuget Nito.AsyncEx ~> 5.0.0-pre-02
	nuget runtime.ubuntu.16.04-arm.Microsoft.NETCore.App