/*
	MMALSharp overrides
*/
body {
	background-color: #5319e7;
	color: #ffffff;
}

body .toc {
	background-color: #f8f8f8;	
}

h1, h2, h3, h4, h5, h6, span.xref {
	word-break: normal;
}

a {
	color: #ffffff;
}

a:hover {
	color: #ffffff;
}

span {
	color: #000000;
}

li a {
	color: #ffffff;
}

.breadcrumb>li>a {
	color: #000000;
}

ul > li.active > a {
	color: #ffffff;
}

.navbar-nav>li>a {
	color: #000000;
}

span.icon-bar {
	background-color: #000000
}

.navbar-nav>li.active>a  {
	color: #000000;
}

.affix ul > li > a {
	color: #ffffff;
}

.affix ul > li > a:hover {
	color: #ffffff;
}

.navbar-mmalsharp {
	border-color: #fbca04;
	background-color: #fbca04;
}

.github-link {
	padding-top: 9px;
	margin-left: 10px;
}

.xref {
	color: #ffffff;
}

.sidetoc {
	background-color: #f8f8f8;	
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
}

.sidefilter {
	background-color: #f8f8f8;	
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
}

.small>a {
	color: #ffffff;
}

.item-title>a {
	color: #ffffff;
}

.sr-item>.item-href {
	color: #ffffff;
}

.pagination>.active>a
{
	background-color: #fbca04;
	border-color: #fbca04;
}

.pagination>.active>a:hover {
	background-color: #5319e7;
	border-color: #5319e7;
}

#nav-home {
	font-weight: 500;
}

#footer-copy {
	color: #000000;
}

@media screen and (max-width: 768px) {
	
	.github-link {
		margin-right: 10px;
	}
	
	#search {
		max-width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
}
