type project
id MMALSharp
licenseUrl https://github.com/techyian/MMALSharp
authors Ian Auty (@Techyian)
description
	Unofficial C# API for the Raspberry Pi camera

dependencies
	FAKE ~> 4.50.0
	Nito.AsyncEx ~> 3.0.1
	
include-referenced-projects true